name: Social Bot

on:
  schedule:
    - cron: '*/50 * * * *' # Runs every 50 minutes
  workflow_dispatch: # Allows manual trigger

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: pip install -r social_bot/requirements.txt

      - name: Run Social Bot
        env:
          BSKY_HANDLE: ${{ secrets.BSKY_HANDLE }}
          BSKY_PW: ${{ secrets.BSKY_PW }}
          MASTO_TOKEN: ${{ secrets.MASTO_TOKEN }}
          INDEXNOW_KEY: ${{ secrets.INDEXNOW_KEY }}
          RSS_FEED_URL: ${{ secrets.RSS_FEED_URL }}
        run: python social_bot/social_bot.py

      - name: Save State
        run: |
          git config user.name "Bot"
          git config user.email "bot@github.com"
          git add social_bot/posted_articles.txt
          # "|| exit 0" prevents error if there are no changes to commit
          git commit -m "Update posted articles [skip ci]" || exit 0
          git push
